<header class="animated fadeIn">

		<div class="effects" id="effect-1">
            <div class="img">
                <img class="autores" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/v/t1.0-1/c0.0.160.160/p160x160/547295_10151959749124750_1545488115_n.jpg?oh=01f06cd119dc62d614acaa44ace60bdc&oe=54EF1DB6&__gda__=1424823845_3d922cffc00b07cb9408ceb3010727d2" alt="{{name}}" />
                <div class="overlay">
                    <p>Diego Cuadros</p>
                   
                    
                </div> 
            </div>
        </div> 

        <div class="effects" id="effect-1">
            <div class="img">
                <img class="autores" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p160x160/10356026_10152253691386906_8285376743877186988_n.jpg?oh=9f6877fb14138b68c72c5b110ecdb7ec&oe=54E07106&__gda__=1425054846_d6c3fd380c44988c747d432ad480cd88" alt="{{name}}" />
                <div class="overlay">
                    
                </div> 
            </div>
        </div> 

        <div class="effects" id="effect-1">
            <div class="img">
                <img class="autores" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p160x160/10659273_10152463966592635_7265615980312532798_n.jpg?oh=06a0193b5058b4609ef7346d22844f64&oe=551CE107&__gda__=1424311446_d5d73d909cf24d7a89ee9df2ec2f9423" alt="{{name}}" />
                <div class="overlay">
                    
                </div> 
            </div>
        </div> 

        <div class="effects" id="effect-1">
            <div class="img">
                <img class="autores" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c40.0.160.160/p160x160/10356145_318541394961302_357705284311284561_n.jpg?oh=bf29c069213d38fc4b1fbb7890dc94e1&oe=54E471AB&__gda__=1423799612_971e85e2b43aca941a5bdfe04613b3eb" alt="{{name}}" />
                <div class="overlay">
                    
                </div> 
            </div>
        </div> 

        <div class="effects" id="effect-1">
            <div class="img">
                <img class="autores" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.0.160.160/p160x160/1479126_10151721985501362_1845074216_n.jpg?oh=d635a4daf4b8ef0b129f52517effed11&oe=54D35930&__gda__=1423683640_a9cf7de3cd81d888396aa9974668cbd3" alt="{{name}}" />
                <div class="overlay">
                    
                </div> 
            </div>
        </div> 

        <div class="effects" id="effect-1">
            <div class="img">
                <img class="autores" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c0.0.160.160/p160x160/10616409_10152292410891956_5736195970202133263_n.jpg?oh=3a2c7ffe821151e9ee5a2b5a3b9292c0&oe=54ED7E3B&__gda__=1425141753_b7f04a1994b94e57c03aa6e2b8d06a1e" alt="{{name}}" />
                <div class="overlay">
                    
                </div> 
            </div>
        </div> 


</header>
