<header class="animated blog-cover headCover fadeIn">

		{{> coverHome}}


	
		<div class="effects" id="effect-1">
			<div class="img">
            	<img class="autores" src="http://lorempixel.com/output/people-q-g-284-284-8.jpg" alt="{{name}}" />
            	<div class="overlay">
            		<p class="authorBtnName">DIEGO CUADROS</p>
            		<button type="button" class=" btnA btn-1A btn-1bA ">Read Blog
            		<span class="glyphicon glyphicon-bullhorn"></span></button>
                    
            	</div> 
        	</div>
        </div> 

        <div class="effects" id="effect-1">
			<div class="img">
            	<img class="autores" src="http://lorempixel.com/output/people-q-g-284-284-8.jpg" alt="{{name}}" />
            	<div class="overlay">
                    <p class="authorBtnName">SERGIO RODRIGUEZ</p>
            		<button type="button" class=" btnA btn-1A btn-1bA ">Read Blog
            		<span class="glyphicon glyphicon-bullhorn"></span></button>
            	</div> 
        	</div>
        </div> 

        <div class="effects" id="effect-1">
			<div class="img">
            	<img class="autores" src="http://lorempixel.com/output/people-q-g-284-284-6.jpg" alt="{{name}}" />
            	<div class="overlay">
            		<p class="authorBtnName">SANTIAGO CASTRO</p>
            		<button type="button" class=" btnA btn-1A btn-1bA ">Read Blog
            		<span class="glyphicon glyphicon-bullhorn"></span></button>
                    
            	</div> 
        	</div>
        </div> 

        <div class="effects" id="effect-1">
			<div class="img">
            	<img class="autores" src="http://lorempixel.com/output/people-q-g-284-284-8.jpg" alt="{{name}}" />
            	<div class="overlay">
                    <p class="authorBtnName">JULIAN MARTINEZ</p>
            		<button type="button" class=" btnA btn-1A btn-1bA ">Read Blog
            		<span class="glyphicon glyphicon-bullhorn"></span></button>
            	</div> 
        	</div>
        </div> 

        <div class="effects" id="effect-1">
			<div class="img">
            	<img class="autores" src="http://lorempixel.com/output/people-q-g-284-284-8.jpg" alt="{{name}}" />
            	<div class="overlay">
                    <p class="authorBtnName">JUAN FLOREZ</p>
            		<button type="button" class=" btnA btn-1A btn-1bA ">Read Blog
            		<span class="glyphicon glyphicon-bullhorn"></span></button>
            	</div> 
        	</div>
        </div> 

        <div class="effects" id="effect-1">
			<div class="img">
            	<img class="autores" src="http://lorempixel.com/output/people-q-g-284-284-8.jpg" alt="{{name}}" />
            	<div class="overlay">
                    <p class="authorBtnName">SEBASTIAN ROMERO</p>
            		<button type="button" class=" btnA btn-1A btn-1bA ">Read Blog
            		<span class="glyphicon glyphicon-bullhorn"></span></button>
            	</div> 
        	</div>
        </div> 



    

</header>
